/* Settings */
@import 'settings.colors';
@import 'node_modules/sass-mq/mq';
@import 'settings.mixins';
@import 'settings.global';

/* Generic */
@import 'generic.box-sizing';
@import-normalize;
@import 'generic.reset';

/* Elements */
@import 'elements.page';
@import 'elements.images';


/* Media Queries / Breakpoints */

.foo {
  @include mq($from: mobile, $until: tablet) {
    background: red;
  }
  @include mq($from: tablet) {
    background: green;
  }
}

/* pixel to rem units */

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}
